extends layout

block content
  include sidebar.jade
  h2= title
  div(class="leftext")
    p No momento em que conheci a Ciência, eu soube que era aquilo que eu iria fazer. Em outras palavras, não é a burocracia do ensino que me 

block footer
  include footer.jade
