extends layout

block content
  <iframe src="https://kiwiirc.com/client/irc.efnet.org/?nick=navegante|?&theme=mini#ffb.eng.br" style="border:0; width:100%; height:450px;"></iframe>

block footer
  include footer.jade
