div(class="footer")
  ul
    li
      h3
        a(href="pesquisa") Pesquisa
    li
      h3
        a(href="alunos") Alunos
    li
      h3
        a(href="http://guiadoengenheiro.com.br") Guia do Engenheiro
    li
      h3
        a(href="games") Games

