div(class="footer")
  ul
    li
      h3
        a(href="pesquisa") Pesquisa
      h3
        a(href="facebook.com/furetosan") Facebook
    li
      h3
        a(href="alunos") Alunos
      h3
        a(href="plus.google.com/105007601803173630102") Google Plus
    li
      h3
        a(href="http://guiadoengenheiro.com.br") Guia do Engenheiro
      h3
        a(href="twitter.com/furetosan") Twitter
    li
      h3
        a(href="games") Games
      h3
        a(href="mailto:fredsan@ffb.eng.br") Email
