div(class="footer")
  h2
    a(href="pesquisa") Pesquisa
  p Venho trabalhando já há algum tempo com a implementação de formas fracas de equações diferenciais. O tema é Engenharia Estrutural, o método é o dos Elementos Finitos, e ferramenta da hora é o SfePy. Antes disso, escrevi minha <a href='/'>Dissertação de Mestrado</a>. Os curiosos podem ainda ler meu <a href="">Trabalho de Graduação</a> se isso aprouvier (dicionário?)
  h2
    a(href="alunos") Alunos
  p Aqui reservei algum espaço para compartilhar acerca do que se passa dentro de algumas disciplinas que atualmente leciono, ou que já lecionei.
  h2
    a(href="http://guiadoengenheiro.com.br") Guia do Engenheiro
  p O guia do engenheiro tem a missão de ser uma espécie de portal aberto, recheado de conhecimentos interessantes e úteis.
  h2
    a(href="games") Games
  p Espaço reservado para o desenvolvimento de games.
