h2
  a(href="pesquisa") Pesquisa
p Uma grande vantagem do ambiente SfePy diz respeito à facilidade de uso e implementação de novas formas fracas de equações diferenciais. Minha <a href=''>dissertação de Mestrado</a> é leitura recomendada para os iniciantes no Método dos Elementos Finitos, e é com este método que o SfePy funciona.
p Os curiosos podem ainda ler meu <a href="">Trabalho de Graduação</a> se isso aprouvier (dicionário?)
h2
  a(href="alunos") Alunos
p Aqui reservei algum espaço para compartilhar acerca do que se passa dentro de algumas disciplinas que atualmente leciono, ou que já lecionei.
h2
  a(href="http://guiadoengenheiro.com.br") Guia do Engenheiro
p O guia do engenheiro tem a missão de ser uma espécie de portal aberto, recheado de conhecimentos interessantes e úteis.
h2
  a(href="games") Games
p Espaço reservado para o desenvolvimento de games.
