extends layout

block content
  include sidebar.jade
  h2= title
  div(class="leftext")
    p Houve um tempo em que pequenos pixels se moviam por telas negras e verdes, em que crianças maravilhavam-se com sons e brilhos monocromáticos. Algumas empresas 

block footer
  include footer.jade
