extends layout

block content
  include sidebar.jade
  h1= title
  div(class="leftext")
    p Bem-vindo ao site que não precisa fingir que não é pessoal. Venho me interessando naquilo que se é possível fazer com pouco, no mundo das ferramentas atuais. Em outras palavras adotei alguns projetos cujos resultados serão publicados por aqui, positivos ou negativos.
    p Enquanto isso, basta enumerar ideias e possibilidade:
    ul
      li SfePy: biblioteca de elementos finitos em Python. Ainda tem difícil instalação e não provê a funcionalidade de certos elementos estruturais como barras, vigas, etc.
      li WebGL: recentemente descobri que o Javascript vem crescendo, mas isso não parece motivo suficiente. Posteriormente, reencontrei o Javascript dentro do Node.js, que - aliás - faz funcionar o servidor de onde você baixou esta página.
      li OS X Cocoa: o iPhone funciona com base em uma biblioteca chamada Cocoa Touch. Havendo me dedicado a aprender sobre programação iOS, descobri que a programação em OS X pode ser ainda mais produtiva.
      li Fotogrametria Open Source: a primeira ambição que tenho ao aprender uma nova linguagem é a de incrementar o mundo dos jogos com algum software simples de construir e divertido de jogar. A fotogrametria vai servir para me ajudar a criar ambientes 3D.
    p Quanto àquilo que não se classifica como trabalho, sou um sonhador. Continuo sonhando todos os dias, apesar de muitos dizerem que o sonho morreu. Sonho todo dia, e espero que você sonhe também.

block footer
  include footer.jade
