doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      ul
        li
          a Menu
          ul
            li
              a(href='/') Home
            li
              a(href='/pesquisa') Pesquisa
            li
              a(href='/alunos') Alunos
            li
              a(href='http://guiadoengenheiro.com.br') Guia do Engenheiro
            li
              a(href='/games') Games
    div(class="borderedcanvas")
      block content
      block footer
      pre Copyright (c) 2014 Frederico Furst Bittencourt
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-46764589-1', 'ffb.eng.br');
      ga('send', 'pageview');
