extends layout

block content
  include sidebar.jade
  h2= title
  div(class="leftext")
    p Trata-se aqui de buscar uma melhor forma, ou um melhor modo, ou uma melhor técnica. Este é o problema básico da Ciência, que atribui novas funções às matérias em questão. Por um lado, a Ciência não constitui um único modo de adicionar funções, mas prescreve ainda operações de redução, modelagem e outras. Por outro lado, há outra Ciência, que não é de forma alguma menos potente, mas cujos métodos parecem deliberamente apoiar-se em uma natureza vaga que é inerente ou imanente às operações da Ciência.
    p Venho trabalhando já há algum tempo com a implementação de formas fracas de equações diferenciais. O tema é Engenharia Estrutural, o método é o dos Elementos Finitos, e ferramenta da hora é o SfePy. Antes disso, escrevi minha <a href='/'>Dissertação de Mestrado</a>. Os curiosos podem ainda ler meu <a href='/TG_Fred.pdf'>Trabalho de Graduação</a> se isso aprouvier (dicionário?)
    p Quanto à academia em si, a visão de "todo mundo", em que é simplesmente a união da ciência e da técnica, precisa ser ultrapassada e descartada. O passado acadêmico, entretanto, traz ferramentas que se mostram indispensáveis para o futuro da humanidade. Portanto, já no segundo parágrafo anuncia-se o programa desta escrita: operar sobre a humanidade, com bom senso científico, exercitando um senso intuitivo e indefinido de certo e errado, de belo e feio, e de bom e mau.
    p Do leitor, antecipa-se que o público-alvo - um termo que é mercadológico - será reduzido e composto de indivíduos pouco usuais. Há, infelizmente, o chamado mercado literário, em que se busca escrever, imprimir e publicar aquilo cujas vendas antecipadas são suficientemente altas. Isto não é o objeto de que se trata aqui. Em outras palavras, não há produto a ser vendido e anunciado nas entrelinhas do diálogo. Sendo assim, um aviso que alertasse os recipiendáriosdestes escritos teria de se assemelhar a uma propaganda militar que convida os jovens incautos a lutarem por seu país, ou ainda a uma propaganda exploratória que convoca os destemidos a aventurarem-se, apesar dos inúmeros perigos.
    p Pessoalmente, me atrai o problema da modelagem. Quando traduzem-se situações ou sistemas reais em situações ou sistemas imaginários, que partes devem ser adicionadas, e que partes devem ser mantidas de fora? 

block footer
  include footer.jade
