div(class="topright")
  nav
    ul
      li
        a(href='/') Home
      li
        a(href='/pesquisa') Pesquisa
      li
        a(href='/alunos') Alunos
      li
        a(href='http://guiadoengenheiro.com.br') Guia do Engenheiro
      li
        a(href='/games') Games
  h1 ffb.eng.br<br>
    img(src='images/fredders.png')
  p Olá, meu nome é Fred. <a href='mailto:fredsan@ffb.eng.br'>Converse</a> comigo.
