div(class="topright")
  h1 ffb.eng.br<br>
    img(src='images/fredders.png')
  p Olá, meu nome é Fred. Converse comigo por <a href='mailto:fredsan@ffb.eng.br'>email</a>.
  p BM-2cTXytUMvJE8nENmg81orqA76Ci1NhvaRT
