extends layout

block content
  include sidebar.jade
  h1 .TXT
  div(class="leftext")
    p.
      Olá! Eu sou o Escritor. Desde uma vez quando era pequeno, comecei a
      contar histórias, e hoje já escrevo com vernáculo à altura da Língua
      Pátria.
    p.
      Hoje, convido o Leitor a admirar algumas conexões que podem parecer-lhe
      interessantes, agradáveis ou de alguma outra forma pertinentes. Sua escolha
      foi feita com toda nossa equipe: o Cientista, o Observador e o Repórter de
      Campo. Ainda cabe falar do Editor, aquele à quem cabe ler-nos e prevenir erros
      que nossa indisposta disposição possa ter nos forçado a cometer.
    p.
      Sem maiores delongas e subterfúgios, apresento-lhe à lista:
    ul
      li
        a(href="/txt") Brazil lost the 2014 World Cup before the finals!?
    p.
      Convido o leitor para ficar à vontade, clicar os links acima, deixar
      seus comentários. Alternativamente, entre em contato via redes sociais,
      cujos links estão disponíveis abaixo.

block footer
  include footer.jade
