extends layout

block content
  include sidebar.jade
  h1 World Cup 2014
  div(class="leftext")
    pre.
      "Things are neither good nor bad,
      but thinking makes it so."
                   - Hamlet, Shakespeare.
    p.
      It is an almost universally accepted fact, that Brazil is the country for
      football. By footbal, I mean soccer, of course. Germany, however, seemed to
      have somehow disillusioned most football freaks from Brazil when it non-chalantly
      escorted us through a painful score of 7 to 1.
    p.
      Soccer cannot be considered a cultural trace from Brazil, of course. As a matter
      of fact, I recently watched a TED Talk that condensed quite a bit of information
      in a short time, and also breaks stereotypes. In any case, many other countries
      - England, Portugal, Spain, and so on - seem to cultivate strong feelings towards
      the World Cup.
    p.
      I've had the chance to live in Japan for a few years, and my luck provided that I
      play a couple of times with colleagues: baseball, softball, ping pong, and even
      football! As a student in Brazil, my experience with sports was radically diverse.
    p.
      The usual (high) school dynamics between <i>jocks</i> and <i>nerds</i> apply in
      Brazil too. However, these dynamics are constrained to one single point of...
      failure? ability? talent? Ok, so I wasn't a football <i>jock</i>, but I felt more
      than compelled by social pressure, and the basic cluelessness of the juvenile. I
      did make myself into someone who'd not look too wobbly and wacky while playing.
    p.
      That said, what really turned the tables for me - in social terms - was one
      occasion in which I was terribly frustrated, and accidentally hurt someone.
      I say "accidental", but he and I both knew he was making himself an easy target.
      So, without trying to be absolved, I allowed my feet to hit the guy forcefully.
    p.
      That worked.
    p.
      Now, fast-forward a decade and a half. I'm in Japan, and I'm in a pub, chatting
      around for lack of anything better to do. A very nice and polite American pointed
      out a situation where a Brazilian guy had been an <b>asshole</b>. I made the point
      that he might just have haphazardly met an <b>asshole</b> who happened to be from
      the same country as me. I'm pretty confident most North Americans from the USA can
      relate to that. 
    p.
      Finally, I think there's something connecting that assholeness, the game of soccer,
      the cultural identity of brazilians and our disillusionment with this World Cup.
      I mean, the event went fine. All had beer, there haven't been any international
      incidents as of this writing, and no more than one elevated roadway collapsed.
    p.
      This may seem a bit of an exaggeration, but I assure you I'd expected many points
      of failure. So, I've no beef with Brazil, but many infrastructure networks here
      have seemed very fragile to my younger child-self. Remember there was a section
      of seats where the lights went out in the first match? Remember the first goal
      of the whole World Cup 2014?
    p.
      I seriously took that as a bad omen.
    p.
      Fortunately, all went well: no planes crashed, no (other) buildings collapsed,
      and most peoples had a great time. Conversely, brazilians were supposed to have
      the final say, and to win the Cup. The fact that we didn't, however, should not to be
      mourned, but celebrated. In my humble opinion, that is.
    p.
      Sports may not mean much in and of themselves: a bunch of people running around
      a huge field, chasing a ball. Apart from the respective industries ($$$), there
      are no wars starting or ending over baseball. Even so, Brazil's identity was
      <b>strongly</b> supported by our football prowess. I would even make the case
      that several mistakes in our cultural identities trace back to rules in soccer.
      For instance: students will beg for higher grades without considering that their
      engagement levels might need upping. 
    p.
      Might be a longshot, but this would mean a radical change in mindset. One the one
      hand, several nasty little mistakes can hide under the guise of "truth". Most
      players are not bred with a hardwork mentality, but rather with the belief that
      something called <i>talent</i> is what makes good players, and good teams. It's
      nothing short of unbelievable that we lost 7 to 1. On top of that, we lost to
      Germans, who're supposed to be unable to shake their hips, and thus unable to
      dance the Samba or play football.
    p.
      On the other hand, Germany has proved us wrong, and then Holland did it again.
      The 3 to 0 score was a good one, really. Both Germany and Holland have shown proof
      that <i>talent</i> is, at best, a deeply flawed concept. Also, those players were
      dropping like flies in field, probably hoping an extra sad face would fly.
      Argentinians have a bit of a reputation here for doing that too. As a distant observer
      of football, I've come to think of Brazil's soccer team as a very, very hot
      young girl.
    p.
      We were born with good genes, but now our bad habits are ruining what we had.
    p.
      Oh,by the way, most of us will only figure out what the word "soccer" means
      after having to actually understand it, in actual life, in front of an actual
      soccer fan. Much like most language learners, or speakers of English as a
      second language, my first impulse is to say "football", because it is incredibly
      similar to its Brazilian Portuguese counterpart: "futebol".
    p.
      All in all, I think we had a good one. Thank you for getting this far :) and
      do check out 

block footer
  include footer.jade
