body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 100%;
}

@font-face {
  font-family: Brankovic;
  src: url(brankovic.ttf);
}

a {
  font-style: none;
  text-decoration: none;
  color: #3D4B8F;
}

a:hover {
  background: #F0FE6CC;
  border-width: 5px;
  border-style: dotted;
  border-color: #4D3319;
}

.borderedcanvas {
  padding: 25px;
  border-width: 5px;
  border-style: dotted;
  border-color: #4D3319;
}

/* START NAV MENU */
nav {
  background-color: #FF9933;
  height: 50px;
}
 
 
nav ul {
  font-family: Brankovic;
  font-size: 1.2em;
  /* margin: 10px; */
  /* padding: 20px; */
  list-style: none;
}
 
nav ul li {
  display: block;
  position: relative;
  float: left;
}
 
nav li ul { 
  display: none; 
}
 
nav ul li a {
  display: block;
  text-decoration: none;
  padding: 5px 5px 5px 5px;
  background: #4D3319;
  color: #ffffff;  
  margin-left: 1px;
  white-space: nowrap;
  height: 30px; /* Width and height of top-level nav items */
  width: 250px;
  text-align: center;
}
 
nav ul li a:hover { 
  background: #FFE6CC; 
}
 
nav li:hover ul {
  display: block;
  position: absolute;
  background: #4D3319;
  /* height: 30px; */
}
 
nav li:hover li {
  float: none;
}
 
nav li:hover a { 
  background: #4D3319; 
  /* height:30px;  Height of lower-level nav items is shorter than main level */
}
 
nav li:hover li a:hover { 
  background: #FFE6CC; 
}

/* END NAV MENU */

p {
  text-align: justify;
  padding: 20px;
}

pre {
  text-align: right;
}

h1 {
  font-family: Brankovic;
  font-size: 5em;
}

h2 {
  font-family: Brankovic;
  font-size: 2em;
}

h3 {
  font-family: Brankovic;
  font-size: 1.1em;
}

.topright {
  position: relative;
  padding: 10px;
  top: -50px;
  right: -50px;
  float: right;
}

.footer {
  width: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.footer ul {
  margin: 10px;
  padding: 20px;
  list-style: none;
}

.footer ul li {
  padding: 10px;
  background-color: #99AAFF;
  /* border-width: 5px;
  border-style: dotted;
  border-color: #4D3319; */
  display: block;
  position: relative;
  float: left;
}

leftext {
  position: relative;
  left: -100px;
  top: -100px;
}
